In [ ]:
#Ques1 - Find out Agent's avarage rating on weekly basis keep this in a mind that they take two days of leave?

In [5]:
import pandas as pd

In [6]:
df=pd.read_excel(r'C:\Users\ankush-sharma2\OneDrive - MMC\Documents\iNeuron\Pandas_Dataset\AgentPerformance.xlsx')

In [3]:
df.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6

In [7]:
#Adding a new converted datetime column
df['Converted_Date'] = pd.to_datetime(df['Date'])

In [8]:
#Adding a new converted week column
df['Converted_week'] = df['Converted_Date'].dt.week

C:\Users\ankush-sharma2\AppData\Local\Temp\ipykernel_14224\312866486.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['Converted_week'] = df['Converted_Date'].dt.week

In [9]:
#Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
# OR just not taking into account those dates where total chats,Average Response Time,Average Resolution Time,Average Rating is not zero
df2=df[ (df['Total Chats'] > 0) & (df['Average Response Time'] !='00:00:00') & (df['Average Resolution Time'] != '00:00:00') & (df['Average Rating'] != '0.0') & (df['Total Feedback'] != '0.0')]

In [28]:
#Calculating average rating of person on basis of weeks excluding the holidays taken
df2.groupby(['Agent Name', 'Converted_week'])['Average Rating'].mean()

Agent Name     Converted_week
Aditya Shinde  26                3.850
               27                4.516
               28                4.746
Aditya_iot     27                4.315
               28                4.100
                                 ...
Wasim          30                4.298
Zeeshan        27                4.575
               28                4.128
               29                4.452
               30                4.140
Name: Average Rating, Length: 176, dtype: float64

In [12]:
#Ques2 - Total working days for each agents excluding holidays ?

In [13]:
df2.groupby('Agent Name')['Converted_Date'].count()

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                14
Anirudh                    5
Ankitjha                   1
Anurag Tiwari              1
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       25
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahesh Sarade             18
Maitry                    20
Maneesh                    2
Manjunatha A              25
Mithun S                  16
Mukesh                     2
Mukesh Rao                 1
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    16
Prateek _iot              16
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Converted_Date, dtype: int64

In [14]:
#Ques3 - Total query that Agent has taken excluding holidays?

In [15]:
df2.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Aditya Shinde             277
Aditya_iot                231
Ameya Jain                321
Anirudh                    72
Ankitjha                    3
Anurag Tiwari               3
Aravind                   366
Ashad Nasim                18
Ayushi Mishra             514
Bharath                   369
Boktiar Ahmed Bappy       448
Chaitra K Hiremath         64
Deepranjan Gupta          493
Dibyanshu                   1
Harikrishnan Shaji        381
Hrisikesh Neogi           578
Ishawant Kumar            338
Jawala Prakash            439
Jayant Kumar              127
Jaydeep Dixit             512
Khushboo Priya            446
Madhulika G               469
Mahesh Sarade             364
Maitry                    542
Maneesh                     3
Manjunatha A              413
Mithun S                  500
Mukesh                     19
Mukesh Rao                  1
Muskan Garg                56
Nandani Gupta             560
Nishtha Jain              373
Prabir Kumar Satapathy    298
Prateek _iot              189
Prerna Singh              401
Rishav Dash               409
Saikumarreddy N           364
Sandipan Saha              30
Sanjeev Kumar             507
Saurabh Shukla             16
Shiva Srivastava           53
Shivan K                  357
Shivan_S                    7
Shivananda Sonwane        441
Shubham Sharma            510
Sowmiya Sivakumar         206
Sudhanshu Kumar             2
Suraj S Bilgi              28
Swati                     524
Vivek                      44
Wasim                     433
Zeeshan                   542
Name: Total Chats, dtype: int64

In [16]:
#Ques4 - Total Feedback that Agent has received ?

In [17]:
df2.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde             153
Aditya_iot                131
Ameya Jain                227
Anirudh                    36
Ankitjha                    2
Anurag Tiwari               2
Aravind                   233
Ashad Nasim                 9
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       308
Chaitra K Hiremath         37
Deepranjan Gupta          312
Dibyanshu                   0
Harikrishnan Shaji        231
Hrisikesh Neogi           367
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
Mahesh Sarade             216
Maitry                    347
Maneesh                     3
Manjunatha A              254
Mithun S                  362
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                37
Nandani Gupta             308
Nishtha Jain              257
Prabir Kumar Satapathy    221
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Saikumarreddy N           290
Sandipan Saha              18
Sanjeev Kumar             311
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

In [18]:
#Ques5 - Agent names who have average rating between 3.5 to 4 ?

In [19]:
df2[(df2['Average Rating'] >= 3.5) & (df2['Average Rating'] <= 4)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Converted_Date,Converted_week
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30
10,11,2022-07-30,Manjunatha A,11,00:00:47,00:42:56,3.60,5,2022-07-30,30
73,74,2022-07-29,Boktiar Ahmed Bappy,11,00:01:59,00:18:25,4.00,5,2022-07-29,30
76,77,2022-07-29,Prateek _iot,8,00:00:36,00:10:41,3.75,4,2022-07-29,30
78,79,2022-07-29,Nandani Gupta,24,00:01:24,00:28:53,3.79,14,2022-07-29,30
...,...,...,...,...,...,...,...,...,...,...
1941,1942,2022-07-04,Jawala Prakash,6,00:00:44,00:02:28,3.80,5,2022-07-04,27
2018,2019,2022-07-02,Sanjeev Kumar,14,00:01:34,00:18:20,4.00,12,2022-07-02,26
2021,2022,2022-07-02,Aditya Shinde,57,00:01:26,00:19:52,3.54,28,2022-07-02,26
2023,2024,2022-07-02,Deepranjan Gupta,52,00:01:10,00:35:14,3.71,24,2022-07-02,26
2097,2098,2022-07-01,Sanjeev Kumar,22,00:01:12,00:30:34,4.00,13,2022-07-01,26

In [20]:
#Ques6 - Agent names who have rating lesss then 3.5 ?

In [21]:
df2[(df2['Average Rating'] < 3.5)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Converted_Date,Converted_week
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30
71,72,2022-07-30,Jawala Prakash,4,00:00:36,00:11:56,3.00,2,2022-07-30,30
92,93,2022-07-29,Sowmiya Sivakumar,23,00:01:40,00:41:55,3.43,14,2022-07-29,30
145,146,2022-07-28,Shiva Srivastava,6,00:00:24,00:05:07,2.17,6,2022-07-28,30
148,149,2022-07-28,Aditya_iot,3,00:00:35,00:10:33,2.67,3,2022-07-28,30
159,160,2022-07-28,Nishtha Jain,37,00:01:43,00:24:15,3.36,28,2022-07-28,30
215,216,2022-07-28,Boktiar Ahmed Bappy,2,00:00:51,00:05:26,0.00,0,2022-07-28,30
221,222,2022-07-27,Aditya_iot,15,00:00:52,00:18:14,3.33,6,2022-07-27,30
231,232,2022-07-27,Ankitjha,3,00:02:13,00:04:58,3.00,2,2022-07-27,30
298,299,2022-07-26,Chaitra K Hiremath,10,00:00:22,00:04:25,3.43,7,2022-07-26,30
306,307,2022-07-26,Mithun S,23,00:00:50,00:09:17,3.29,17,2022-07-26,30
358,359,2022-07-26,Jawala Prakash,5,00:01:14,00:09:25,3.00,2,2022-07-26,30
644,645,2022-07-22,Ishawant Kumar,23,00:00:55,00:14:45,3.18,17,2022-07-22,29
651,652,2022-07-21,Deepranjan Gupta,1,00:02:04,01:36:37,0.00,0,2022-07-21,29
716,717,2022-07-21,Boktiar Ahmed Bappy,7,00:00:34,00:07:40,2.71,7,2022-07-21,29
720,721,2022-07-20,Jawala Prakash,22,00:01:55,00:12:35,3.27,15,2022-07-20,29
788,789,2022-07-20,Ayushi Mishra,8,00:01:32,00:06:21,3.25,8,2022-07-20,29
1224,1225,2022-07-13,Rishav Dash,2,00:00:31,00:15:41,0.00,0,2022-07-13,28
1228,1229,2022-07-13,Vivek,6,00:00:44,00:24:18,1.00,2,2022-07-13,28
1241,1242,2022-07-13,Mahesh Sarade,10,00:01:10,00:13:52,2.75,4,2022-07-13,28
1298,1299,2022-07-12,Aditya_iot,9,00:02:07,00:14:59,3.40,5,2022-07-12,28
1299,1300,2022-07-12,Vivek,15,00:02:23,00:29:26,3.29,7,2022-07-12,28
1369,1370,2022-07-11,Vivek,9,00:01:57,00:05:44,2.33,3,2022-07-11,28
1444,1445,2022-07-10,Harikrishnan Shaji,11,00:00:43,00:10:02,3.25,8,2022-07-10,27
1525,1526,2022-07-09,Mahesh Sarade,25,00:01:41,00:16:01,3.11,9,2022-07-09,27
1588,1589,2022-07-08,Vivek,10,00:01:00,00:14:49,3.40,5,2022-07-08,27
1590,1591,2022-07-08,Mahesh Sarade,18,00:02:11,00:19:26,3.27,11,2022-07-08,27
1650,1651,2022-07-08,Jayant Kumar,15,00:00:48,00:31:48,3.17,6,2022-07-08,27
1656,1657,2022-07-07,Sanjeev Kumar,5,00:01:00,00:13:42,3.00,2,2022-07-07,27
1665,1666,2022-07-07,Harikrishnan Shaji,5,00:00:57,00:10:03,1.00,1,2022-07-07,27
1740,1741,2022-07-06,Dibyanshu,1,00:00:38,00:12:20,0.00,0,2022-07-06,27
1743,1744,2022-07-06,Shivan K,1,00:02:04,00:52:22,0.00,0,2022-07-06,27
1749,1750,2022-07-06,Anirudh,1,00:02:05,00:16:54,0.00,0,2022-07-06,27
1796,1797,2022-07-06,Manjunatha A,2,00:00:33,00:11:48,0.00,0,2022-07-06,27
1798,1799,2022-07-06,Ashad Nasim,3,00:17:28,00:03:12,1.00,2,2022-07-06,27
1799,1800,2022-07-06,Khushboo Priya,2,00:00:54,00:45:06,0.00,0,2022-07-06,27
1801,1802,2022-07-05,Maneesh,1,00:01:36,00:07:01,1.00,1,2022-07-05,27
1802,1803,2022-07-05,Shivan K,1,00:01:00,00:18:50,0.00,0,2022-07-05,27
1808,1809,2022-07-05,Jayant Kumar,12,00:01:02,00:19:27,3.33,6,2022-07-05,27
1817,1818,2022-07-05,Shivananda Sonwane,12,00:00:57,00:38:43,3.40,5,2022-07-05,27
1821,1822,2022-07-05,Prerna Singh,7,00:01:05,00:18:31,3.33,3,2022-07-05,27
1951,1952,2022-07-03,Shivan K,2,00:00:41,00:10:28,1.00,1,2022-07-03,26
1953,1954,2022-07-03,Jayant Kumar,26,00:01:06,00:15:11,3.24,17,2022-07-03,26
2020,2021,2022-07-02,Nandani Gupta,75,00:03:46,00:18:48,3.43,37,2022-07-02,26
2090,2091,2022-07-01,Saurabh Shukla,7,00:00:21,00:10:35,3.00,2,2022-07-01,26

In [22]:
#Ques7 - Agent names who have rating more then 4.5 ?

In [23]:
df2[(df2['Average Rating'] > 4.5)]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Converted_Date,Converted_week
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30
5,6,2022-07-30,Mukesh,9,00:00:34,00:15:34,4.62,8,2022-07-30,30
6,7,2022-07-30,Saikumarreddy N,15,00:00:31,00:11:09,5.00,12,2022-07-30,30
7,8,2022-07-30,Sanjeev Kumar,12,00:00:55,00:20:43,5.00,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2100,2101,2022-07-01,Shubham Sharma,22,00:01:48,00:29:26,5.00,13,2022-07-01,26
2101,2102,2022-07-01,Jaydeep Dixit,25,00:01:15,00:26:27,4.77,13,2022-07-01,26
2102,2103,2022-07-01,Shivananda Sonwane,23,00:01:24,00:30:14,4.86,14,2022-07-01,26
2103,2104,2022-07-01,Khushboo Priya,24,00:01:46,00:29:28,4.61,18,2022-07-01,26
2104,2105,2022-07-01,Hrisikesh Neogi,15,00:01:05,00:25:29,4.56,9,2022-07-01,26

In [24]:
#Ques8 - how many feedabacks, Agents have received more then 4.5 average rating ?

In [25]:
#creating new dataframe containing only those records having more then 4.5 average rating
df3=df2[(df2['Average Rating'] > 4.5)]
#Grouping on Agent Name and calculating sum of total feedbacks 
df3.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        49
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

In [26]:
#Ques9 - average weekly response time for each agent  ?

In [10]:
#Adding new column after conversion in time delta
df2['Converted_Avg_Response_Time'] = pd.to_timedelta(df2['Average Response Time'])
# Calculating avgerage weekly response time
df2.groupby(['Agent Name', 'Converted_week'])['Converted_Avg_Response_Time'].mean()

C:\Users\ankush-sharma2\AppData\Local\Temp\ipykernel_14224\3617672552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Converted_Avg_Response_Time'] = pd.to_timedelta(df2['Average Response Time'])

Agent Name     Converted_week
Aditya Shinde  26                      0 days 00:01:23
               27               0 days 00:01:06.200000
               28                      0 days 00:01:19
Aditya_iot     27               0 days 00:01:10.500000
               28               0 days 00:01:12.800000
                                         ...
Wasim          30               0 days 00:01:00.600000
Zeeshan        27               0 days 00:01:22.500000
               28               0 days 00:02:52.800000
               29                      0 days 00:01:28
               30               0 days 00:01:35.750000
Name: Converted_Avg_Response_Time, Length: 176, dtype: timedelta64[ns]

In [11]:
#Ques10 - Average weekly resolution time for each agents ?

In [12]:
#Adding new column after conversion in time delta
df2['Converted_Avg_Resolution_Time'] = pd.to_timedelta(df2['Average Resolution Time'])
# Calculating avgerage weekly response time
df2.groupby(['Agent Name', 'Converted_week'])['Converted_Avg_Resolution_Time'].mean()

C:\Users\ankush-sharma2\AppData\Local\Temp\ipykernel_14224\1205135126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Converted_Avg_Resolution_Time'] = pd.to_timedelta(df2['Average Resolution Time'])

Agent Name     Converted_week
Aditya Shinde  26               0 days 00:23:10.500000
               27               0 days 00:21:05.400000
               28               0 days 00:31:42.200000
Aditya_iot     27               0 days 00:18:04.500000
               28               0 days 00:21:15.400000
                                         ...
Wasim          30               0 days 00:21:05.800000
Zeeshan        27               0 days 00:18:50.500000
               28                      0 days 00:22:58
               29                      0 days 00:18:32
               30               0 days 00:19:20.250000
Name: Converted_Avg_Resolution_Time, Length: 176, dtype: timedelta64[ns]

In [13]:
#Ques11 - list of all agents name ?

In [15]:
df['Agent Name']

0             Prerna Singh
1            Nandani Gupta
2               Ameya Jain
3            Mahesh Sarade
4                   Swati
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 2160, dtype: object

In [16]:
#Ques12 - Percentage of chat on which they have received a feedback ?

In [19]:
#percentage on daywise basis
df2['Converted_Feedback_Chat_Percent_Daily'] =((df2['Total Feedback'] * 100) / (df2['Total Chats']))
#percentage on weekly basis

C:\Users\ankush-sharma2\AppData\Local\Temp\ipykernel_14224\618666547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Converted_Feedback_Chat_Percent_Daily'] =((df2['Total Feedback'] * 100) / (df2['Total Chats']))

In [20]:
df2.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,Converted_Date,Converted_week,Converted_Avg_Response_Time,Converted_Avg_Resolution_Time,Converted_Feedback_Chat_Percent,Converted_Feedback_Chat_Percent_Daily
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30,0 days 00:00:38,0 days 00:04:20,62.965489,81.818182
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30,0 days 00:01:15,0 days 00:28:25,62.965489,63.636364
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30,0 days 00:00:30,0 days 00:11:36,62.965489,78.571429
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30,0 days 00:01:04,0 days 00:15:46,62.965489,50.000000
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30,0 days 00:01:11,0 days 00:16:33,62.965489,42.857143

In [21]:
#Ques13 - Total contributation hour for each and every agents weekly basis ?

In [22]:
df2.groupby(['Agent Name', 'Converted_week'])['Average Response Time','Average Resolution Time'].sum()

C:\Users\ankush-sharma2\AppData\Local\Temp\ipykernel_14224\3320493476.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2.groupby(['Agent Name', 'Converted_week'])['Average Response Time','Average Resolution Time'].sum()

                                                 Average Response Time  \
Agent Name    Converted_week
Aditya Shinde 26                                      00:01:2000:01:26
              27              00:01:1400:00:4200:01:0500:01:0600:01:24
              28              00:01:0300:01:1600:01:5400:01:2600:00:56
Aditya_iot    27                                      00:00:3200:01:49
              28              00:01:1100:00:4000:00:4800:02:0700:01:18
...                                                                ...
Wasim         30              00:00:4300:01:1500:01:0500:01:1700:00:43
Zeeshan       27                                      00:01:2300:01:22
              28              00:03:4900:03:1600:03:4200:01:4400:01:53
              29              00:01:2100:01:3300:01:2900:01:2000:01:37
              30                      00:01:3000:01:4800:01:4400:01:21

                                               Average Resolution Time
Agent Name    Converted_week
Aditya Shinde 26                                      00:26:2900:19:52
              27              00:19:1600:23:0300:13:3700:18:1000:31:21
              28              00:34:4000:36:3500:46:2300:28:0600:12:47
Aditya_iot    27                                      00:10:4900:25:20
              28              00:24:4700:16:3300:27:2300:14:5900:22:35
...                                                                ...
Wasim         30              00:18:2400:25:0800:27:1500:17:4300:16:59
Zeeshan       27                                      00:21:1500:16:26
              28              00:18:1600:28:0600:18:3300:25:5000:24:05
              29              00:20:0400:18:3100:17:2800:13:4000:22:57
              30                      00:22:4500:16:1300:21:1100:17:12

[176 rows x 2 columns]

In [23]:
#Ques14 - Total percentage of active hour for a month ?